{% extends "albums/base.html" %}

{% load i18n media %}

{% block head_title %}{% trans "Delete" %} {% if object.album %}{% trans "Album" %}{% else %}{% trans "Item" %}{% endif %}{% endblock %}

{% block body %}
<div class="right_panel">
  <ul>
    {% if object.parent %}
    <div class="image-link">
      <img src="{% media_url "images/left_arrow.png" %}" />
      <a href="{% url albums_item object.parent.slug object.slug %}">{% trans "Return to" %} {{object.title}}</a>
    </div>
    {% else %}
    <div class="image-link">
      <img src="{% media_url "images/left_arrow.png" %}" />
      <a href="{% url albums_album object.slug %}">{% trans "Return to" %} {{object.title}}</a>
    </div>
    {% endif %}
  </ul>
</div>

<p>Are you sure you wish to delete {{object.title}}?</p>
{% if object.album %}<p>All items in album {{object.title}} will also be
  deleted!</p>{% endif %}
<form method="post">
<input type="hidden" name="action" value="delete" />
<input type="submit" />
</form>
{% endblock %}
